.page-header {
  display: flex;
  align-items: center;
}

.page-header-icon {
  background-color: #005178;
  color: #fff;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.page-header-icon i {
  font-size: 1.5rem;
}

.page-header-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
}
