<div class="dashboard-container">
  <div class="number-cards">
    <div class="number-card total-electricians">
      <div class="card-title">Total Electricians</div>
      <div class="card-value">{{ electricians.length }}</div>
    </div>
    <div class="number-card available-electricians">
      <div class="card-title">Available Electricians</div>
      <div class="card-value">{{ availableElectricians.length }}</div>
    </div>
    <div class="number-card open-requests">
      <div class="card-title">Open Requests</div>
      <div class="card-value">{{ openRequests.length }}</div>
    </div>
  </div>
  <div class="charts-container">
    <div class="pie-chart">
      <ag-charts
        [options]="pieChartOptions"
        style="width: 100%; height: 400px"
      ></ag-charts>
    </div>
    <div class="bar-chart">
      <ag-charts
        [options]="barChartOptions"
        style="width: 100%; height: 400px"
      ></ag-charts>
    </div>
  </div>
</div>
