<div class="auth-wrapper">
  <div
    class="container"
    [class.right-panel-active]="isSignUpActive"
    id="container"
  >
    <div class="form-container sign-up-container">
      <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
        <h1>Create Account</h1>
        <span>or use your email for registration</span>

        <div class="form-grid">
          <div class="grid-50">
            <div class="input-icon">
              <i class="fas fa-user"></i>
              <input formControlName="firstName" placeholder="First Name" />
            </div>
            <div
              class="error"
              *ngIf="
                registerForm.get('firstName')?.invalid &&
                registerForm.get('firstName')?.touched
              "
            >
              <small *ngIf="registerForm.get('firstName')?.errors?.['required']"
                >First name is required.</small
              >
            </div>
          </div>

          <div class="grid-50">
            <div class="input-icon">
              <i class="fas fa-user"></i>
              <input formControlName="lastName" placeholder="Last Name" />
            </div>
            <div
              class="error"
              *ngIf="
                registerForm.get('lastName')?.invalid &&
                registerForm.get('lastName')?.touched
              "
            >
              <small *ngIf="registerForm.get('lastName')?.errors?.['required']"
                >Last name is required.</small
              >
            </div>
          </div>

          <div class="grid-100">
            <div class="input-icon valid-wrapper">
              <i class="fas fa-user-circle"></i>
              <input formControlName="username" placeholder="User Name" />
              <i
                class="fas fa-check-circle valid-icon"
                *ngIf="
                  registerForm.get('username')?.valid &&
                  registerForm.get('username')?.touched
                "
              ></i>
            </div>
            <div
              class="error"
              *ngIf="
                registerForm.get('username')?.invalid &&
                registerForm.get('username')?.touched
              "
            >
              <small *ngIf="registerForm.get('username')?.errors?.['required']"
                >Username is required.</small
              >
            </div>
          </div>

          <div class="grid-100">
            <div class="input-icon valid-wrapper">
              <i class="fas fa-envelope"></i>
              <input formControlName="email" type="email" placeholder="Email" />
              <i
                class="fas fa-check-circle valid-icon"
                *ngIf="
                  registerForm.get('email')?.valid &&
                  registerForm.get('email')?.touched
                "
              ></i>
            </div>
            <div
              class="error"
              *ngIf="
                registerForm.get('email')?.invalid &&
                registerForm.get('email')?.touched
              "
            >
              <small *ngIf="registerForm.get('email')?.errors?.['required']"
                >Email is required.</small
              >
              <small *ngIf="registerForm.get('email')?.errors?.['email']"
                >Invalid email format.</small
              >
            </div>
          </div>

          <div class="grid-100">
            <div class="input-icon valid-wrapper">
              <i class="fas fa-phone"></i>
              <input formControlName="phone" placeholder="Phone" />
              <i
                class="fas fa-check-circle valid-icon"
                *ngIf="
                  registerForm.get('phone')?.valid &&
                  registerForm.get('phone')?.touched
                "
              ></i>
            </div>
            <div
              class="error"
              *ngIf="
                registerForm.get('phone')?.invalid &&
                registerForm.get('phone')?.touched
              "
            >
              <small *ngIf="registerForm.get('phone')?.errors?.['required']"
                >Phone is required.</small
              >
            </div>
          </div>

          <div class="grid-100">
            <div class="input-icon valid-wrapper">
              <i class="fas fa-lock"></i>
              <input
                formControlName="password"
                type="password"
                placeholder="Password"
              />
              <i
                class="fas fa-check-circle valid-icon"
                *ngIf="
                  registerForm.get('password')?.valid &&
                  registerForm.get('password')?.touched
                "
              ></i>
            </div>
            <div
              class="error"
              *ngIf="
                registerForm.get('password')?.invalid &&
                registerForm.get('password')?.touched
              "
            >
              <small *ngIf="registerForm.get('password')?.errors?.['required']"
                >Password is required.</small
              >
              <small *ngIf="registerForm.get('password')?.errors?.['minlength']"
                >Minimum 6 characters required.</small
              >
            </div>
          </div>

          <div class="grid-75">
            <div class="input-icon">
              <i class="fas fa-road"></i>
              <input formControlName="street" placeholder="Street" />
            </div>
          </div>

          <div class="grid-25">
            <div class="input-icon">
              <i class="fas fa-home"></i>
              <input formControlName="houseNumber" placeholder="Nr." />
            </div>
          </div>

          <div class="grid-30">
            <div class="input-icon">
              <i class="fas fa-envelope-open-text"></i>
              <input formControlName="postCode" placeholder="Postal Code" />
            </div>
          </div>

          <div class="grid-70">
            <div class="input-icon">
              <i class="fas fa-city"></i>
              <input formControlName="city" placeholder="City" />
            </div>
          </div>
        </div>

        <button type="submit">Sign Up</button>
      </form>
    </div>

    <div class="form-container sign-in-container">
      <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
        <h1>Sign in</h1>
        <span>or use your account</span>

        <div class="input-icon valid-wrapper">
          <i class="fas fa-envelope"></i>
          <input formControlName="email" type="email" placeholder="Email" />
          <i
            class="fas fa-check-circle valid-icon"
            *ngIf="
              loginForm.get('email')?.valid && loginForm.get('email')?.touched
            "
          ></i>
        </div>
        <div
          class="error"
          *ngIf="
            loginForm.get('email')?.invalid && loginForm.get('email')?.touched
          "
        >
          <small *ngIf="loginForm.get('email')?.errors?.['required']"
            >Email is required.</small
          >
          <small *ngIf="loginForm.get('email')?.errors?.['email']"
            >Invalid email format.</small
          >
        </div>

        <div class="input-icon valid-wrapper">
          <i class="fas fa-lock"></i>
          <input
            formControlName="password"
            type="password"
            placeholder="Password"
          />
          <i
            class="fas fa-check-circle valid-icon"
            *ngIf="
              loginForm.get('password')?.valid &&
              loginForm.get('password')?.touched
            "
          ></i>
        </div>
        <div
          class="error"
          *ngIf="
            loginForm.get('password')?.invalid &&
            loginForm.get('password')?.touched
          "
        >
          <small *ngIf="loginForm.get('password')?.errors?.['required']"
            >Password is required.</small
          >
        </div>

        <a href="#">Forgot your password?</a>
        <button type="submit">Sign In</button>
      </form>
    </div>

    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button class="ghost" (click)="showSignIn()">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start journey with us</p>
          <button class="ghost" (click)="showSignUp()">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>
