<div
  class="container"
  [class.right-panel-active]="isSignUpActive"
  id="container"
>
  <div class="form-container sign-up-container">
    <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
      <h1>Create Account</h1>
      <span>or use your email for registration</span>

      <input formControlName="firstName" placeholder="Vorname" />
      <input formControlName="lastName" placeholder="Nachname" />
      <input formControlName="email" type="email" placeholder="Email" />
      <input formControlName="phone" placeholder="Phone" />
      <input
        formControlName="password"
        type="password"
        placeholder="Passwort"
      />
      <input
        formControlName="confirmPassword"
        type="password"
        placeholder="Passwort wiederholen"
      />
      <input formControlName="street" placeholder="Straße" />
      <input formControlName="houseNumber" placeholder="Hausnummer" />
      <input formControlName="postalCode" placeholder="PLZ" />
      <input formControlName="city" placeholder="Stadt" />

      <button type="submit">Sign Up</button>
    </form>
  </div>

  <div class="form-container sign-in-container">
    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
      <h1>Sign in</h1>
      <span>or use your account</span>

      <input formControlName="email" type="email" placeholder="Email" />
      <input
        formControlName="password"
        type="password"
        placeholder="Passwort"
      />

      <a href="#">Forgot your password?</a>
      <button type="submit">Sign In</button>
    </form>
  </div>

  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button class="ghost" (click)="showSignIn()">Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello, Friend!</h1>
        <p>Enter your personal details and start journey with us</p>
        <button class="ghost" (click)="showSignUp()">Sign Up</button>
      </div>
    </div>
  </div>
</div>
