/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "ag-grid-community/styles/ag-theme-material.css";
@import "maplibre-gl/dist/maplibre-gl.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.success-snackbar {
  background-color: #3b8c3e;
  color: white;
}

.error-snackbar {
  background-color: #d44238;
  color: white;
}

.info-snackbar {
  background-color: #2f88d1;
  color: white;
}
